/* Default bowser properties */
/* Font: Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #212529;
}

i {
  color: #143059;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar */

.navbar {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2a2f34;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo{
  color: #ffe042;
}
h2{
  font-size: 36px;
}
.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 7px;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.cart:hover{
  background-color: #ffe042;
}
.cart:hover i{
  color: #143059;
}
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 18px;
  background-color: crimson;
  color: white;
  padding: 3px;
  border-radius: 3px;
    padding-left: 9px;
      padding-right: 9px;
}

/* Shop */

.shop {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.item:hover{
  transform: translateY(-10px);
  transition: all 0.7s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}

.item {
    transition: all 0.7s ease;
  border: 3px solid #2c3238;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2d3034;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.item img {
  padding: 5px 5px 5px 5px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 219px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 26px;
}
h3{
  font-size: xx-large;
}
.fa-minus {
  color: #ffe042;
  font-weight: 900;
}

.fa-plus {
  color: greenyellow;
  font-weight: 900;
}

/**
* ! style rules for label and some buttons
**/

.text-center {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #143059;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-size: x-large;
  transition: all 0.7 ease;
}
.HomeBtn:hover{
  transform: scale(1.05);
  transition: all 0.7 ease;
}

.checkout {
  background-color: #ffe042;
}
.removeAll {
  background-color: #ffe042;
}
.bi-x-lg {
  color: #ffe042;
  padding-left: 10px;
  font-weight: 900;
  font-size: larger;
}

/**
* ! style rules for shopping-cart
**/

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
  margin-top: 140px;
  margin-right: 125px;
  margin-bottom: 40px;
}
/**
* ! style rules for cart-item
**/

.cart-item {
  width: 500px;
  border: 2px solid #212529;
  border-radius: 5px;
  display: flex;
  background-color: #2d3034;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.title-price-x {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: x-large;
}
.cart-item img{
  border-radius: 5px;
}
.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}
::selection {
  color: #ffe042;
  background: #143059;
}
::-moz-selection {
  color: #ffe042;
  background: #143059;
}